<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2"> Filtrar: </label> <input type="text" class="form-group mx-sm-3 mb-2" placeholder="Nº do Processo TCE" 
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th >#</th>
      <th>Data de início da vigência</th>
      <th>Data de fim da vigência</th>
      <th>Nº do Processo TCE</th>
      <th>Link do Redmine</th>
      <th>Objeto de Acordo</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="contratos && contratos.length">
    <tr *ngFor="let contrato of contratosFiltrados">
      <td>{{contrato.id}}</td>
      <td>{{contrato.dataInicioVigencia}}</td>
      <td>{{contrato.dataFimVigencia}}</td>
      <td>{{contrato.processoTCE}}</td>
      <td>{{contrato.linkRedmine}}</td>
      <td>{{contrato.objetoAcordo}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success"
          tooltip="Editar" (click)="openModal(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
            </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!contratos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum contrato encontrado!
        </h4>

      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>