<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2"> Filtrar: </label> <input type="text" class="form-group mx-sm-3 mb-2" placeholder="Nº do Processo TCE" 
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th >#</th>
      <th>Data de início da vigência</th>
      <th>Data de fim da vigência</th>
      <th>Nº do Processo TCE</th>
      <th>Link do Redmine</th>
      <th>Objeto de Acordo</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="contratos && contratos.length">
    <tr *ngFor="let contrato of contratosFiltrados">
      <td>{{contrato.id}}</td>
      <td>{{contrato.dataInicioVigencia}}</td>
      <td>{{contrato.dataFimVigencia}}</td>
      <td>{{contrato.processoTCE}}</td>
      <td>{{contrato.linkRedmine}}</td>
      <td>{{contrato.objetoAcordo}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success"
          tooltip="Editar" (click)="openModal(template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir"
        tooltip="Editar" (click)="openModal(template)">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </td>
</tr>
</tbody>
<tfoot *ngIf="!contratos.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum contrato encontrado!
      </h4>
      
    </td>
  </tr>
</tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>

<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Data de início da vigência</label>
      <input type="date" class="form-control"
      [ngClass]="{'is-invalid': f.dataInicioVigencia.errors && f.dataInicioVigencia.touched }"
      formControlame="Data de início da vigência" placeholder="dd/mm/aaaa">
      <div *ngIf="f.dataInicioVigencia.errors?.required && f.dataInicioVigencia.touched" class="invalid-feedback">
        Data início da vigência é um campo obrigatório.
      </div> 
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Data de fim da vigência</label>
      <input type="date" class="form-control"
      [ngClass]="{'is-invalid': f.dataFimVigencia.errors && f.dataFimVigencia.touched }"
      formControlame="Data de fim da vigência" placeholder="dd/mm/aaaa">
      <div *ngIf="f.dataFimVigencia.errors?.required && f.dataFimVigencia.touched" class="invalid-feedback">
        Data Fim da vigência é um campo obrigatório.
      </div>
    </div>
    
    <div class="form-group col-md-2">
      <label>Nº do Processo TCE</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': f.processoTCE.errors && f.processoTCE.touched }"
      formControlame="Nº do Processo TCE" placeholder="TCE-XXX_XXX">
      <div *ngIf="f.processoTCE.errors?.required && f.processoTCE.touched" class="invalid-feedback">
        Nº do Processo TCE possui no máx. 11 caracteres.
      </div>
    </div>
  </div>  
  
  <div class="form-row">
    
    <div class="form-group col-md-6">
      <label>Link do Redmine</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': f.linkRedmine.errors && f.linkRedmine.touched }"
      formControlame="Link do Redmine" placeholder="https://redmine.tce.rn.gov.br/">
      <div *ngIf="f.linkRedmine.errors?.required && f.linkRedmine.touched" class="invalid-feedback">
        Link do Redmine é um campo obrigatório.
      </div>
    </div>
    
    <div class="form-group col-md-12">
      <label>Objeto de Acordo</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': f.objetoAcordo.errors && f.objetoAcordo.touched }"
      formControlame="Objeto de Acordo" placeholder="limite de 50 caracteres">
      <div *ngIf="f.objetoAcordo.errors?.required" class="invalid-feedback">
        Objeto de Acordo é um campo obrigatório.
      </div>
      <div *ngIf="f.objetoAcordo.errors?.minlength" class="invalid-feedback">
        Objeto de Acordo deve possuir no min. 10 caracteres.
      </div>
      <div *ngIf="f.objetoAcordo.errors?.maxlength" class="invalid-feedback">
        Objeto de Acordo deve possuir no max. 50 caracteres.
      </div>
    </div>
  </div>  
</form>
<br>
<button class="btn btn-secondary" (click)="openModal(template)">
  Fechar
</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>

<!-- <p>Form Values: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p> -->
