<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2"> Filtrar: </label> <input type="text" class="form-group mx-sm-3 mb-2" placeholder="Nº do Processo TCE" 
    [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th >#</th>
      <th>Data de início da vigência</th>
      <th>Data de fim da vigência</th>
      <th>Nº do Processo TCE</th>
      <th>Link do Redmine</th>
      <th>Objeto de Acordo</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="contratos && contratos.length">
    <tr *ngFor="let contrato of contratosFiltrados">
      <td>{{contrato.id}}</td>
      <td>{{contrato.dataInicioVigencia}}</td>
      <td>{{contrato.dataFimVigencia}}</td>
      <td>{{contrato.processoTCE}}</td>
      <td>{{contrato.linkRedmine}}</td>
      <td>{{contrato.objetoAcordo}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success"
          tooltip="Editar" (click)="openModal(template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir"
        tooltip="Editar" (click)="openModal(template)">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </td>
</tr>
</tbody>
<tfoot *ngIf="!contratos.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum contrato encontrado!
      </h4>
      
    </td>
  </tr>
</tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>

<form [formGroup]="registerForm">
  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Data de início da vigência</label>
      <input type="text" class="form-control" formControlName="dataInicioVigencia">
    </div>
  </div>  
  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Data de fim da vigência</label>
      <input type="text" class="form-control" formControlName="dataFimVigencia">
    </div>
  </div>  
  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Nº do Processo TCE</label>
      <input type="text" class="form-control" formControlName="processoTCE">
    </div>
  </div>  
  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Link do Redmine</label>
      <input type="text" class="form-control" formControlName="linkRedmine">
    </div>
  </div>  
  
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Objeto de Acordo</label>
      <input type="text" class="form-control" formControlName="objetoAcordo">
    </div>
  </div>  
  
</form>
<br>
<button class="btn btn-secondary" (click)="openModal(template)">
  Fechar
</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>

<!-- <p>Form Values: {{registerForm.value | json}}</p>
  <p>Form Status: {{registerForm.status | json}}</p> -->
  